{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="image/jpg"  href="{% static 'todo/logo.jpg' %}">
    <title>PDF Вывод</title>

    <style>

        @page {
            size: "A4";
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;

            @top-center {
                content: "Расходы";
            }

            @bottom-right {
                content: "Page" counter(page) " of " counter(pages);
            }
        }

    </style>

</head>
<body>
    <div>
<!--        <img src="static/image/kio.png" alt="" >-->
    </div>
    <br>
    <h2>Список расходов</h2>
    <table class="table">
        <thead class="thead">
            <tr>
                <th>No</th>
                <th>Сумма</th>
                <th>Категория</th>
                <th>Описание</th>
                <th>Дата</th>
            </tr>
        </thead>

        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.date }}</td>
                </tr>
            {% endfor %}
<!--                <tr>-->
<!--                    <td>Total:</td>-->
<!--                    <td>{{ total }}</td>-->
<!--                </tr>-->
        </tbody>
    </table>
    <hr>
    <table>
        <tbody>
            <tr>
                <td>Total:</td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>