{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Регистрация аккаунта.</h4>
                </div>

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html' %}
                    <div class="form-group">
                        <input type="text"
                               name="username"
                               placeholder="username"
                               id="usernameField"
                               class="form-control form-control-sm"
                               value="{{ fieldValues.username }}">
                    </div>
                    <div class="invalid-feedback invalid-feedback" style="display: none">
                    </div>
                    <p class="text-sm text-success usernameSuccessOutput"></p>

                    <div class="form-group">
                        <input type="email"
                               name="email"
                               placeholder="email"
                               id="emailField"
                               class="form-control form-control-sm"
                               value="{{ fieldValues.email }}">
                    </div>
                    <div class="emailFeedBackArea invalid-feedback" style="display:none">
                    </div>
                    <p class="text-sm text-success emailSuccessOutput"></p>


                    <div class="form-group">
                        <input type="password"
                               name="password"
                               placeholder="password"
                               id="passwordField"
                               class="form-control form-control-sm">
                        <small class="float-right py-3 showPasswordToggle">Показать</small>
                    </div>
                    <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn">
                </form>
                <div class="container" >
                    <span class="text-lead lead" style="font-size:12px">Уже есть аккаунт?</span><a href="{% url 'login' %}" style="font-size:12px"> Войти</a><br>
                    <span class="text-lead lead" style="font-size:12px">Забыли пароль?</span><a href="{% url 'request-password' %}" style="font-size:12px"> Сброс пароля</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}