{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Enter your e-mail please to get reset-link.</h4>
                </div>

                <form action="{% url 'request-password' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html' %}


                    <div class="form-group">
                        <input type="email"
                               name="email"
                               placeholder="email"
                               id="emailField"
                               class="form-control form-control-sm"
                               value="{{ values.email }}">
                    </div>

                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn">
                </form>
                <div class="container" >
                    <span class="text-lead lead" style="font-size:12px">Have an account?</span><a href="{% url 'login' %}" style="font-size:12px"> Login</a><br>
                    <span class="text-lead lead" style="font-size:12px">Don't have an account? Sign up.</span><a href="{% url 'register' %}" style="font-size:12px"> Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}