{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Установить новый пароль.</h4>
                </div>

                <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html' %}

                    <div class="form-group">
                        <input type="password"
                               name="password"
                               placeholder="password"
                               id="passwordField"
                               class="form-control form-control-sm">
                        <small class="float-right py-3 showPasswordToggle">Показать</small>
                    </div>
                    <div class="form-group">
                        <input type="password"
                               name="password2"
                               placeholder="Confirm new password"
                               id="passwordField2"
                               class="form-control form-control-sm">
                        <small class="float-right py-3 showPasswordToggle2">Показать</small>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn">
                </form>
                <div class="container" >
                    <span class="text-lead lead" style="font-size:12px">Уже есть аккаунт?</span><a href="{% url 'login' %}" style="font-size:12px"> Войти</a><br>
                    <span class="text-lead lead" style="font-size:12px">Нет аккаунта? Завести аккаунт.</span><a href="{% url 'register' %}" style="font-size:12px"> Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}